<div class="heading sticky">
    <div class="header-grid">
        <div>
            {{title}}
        </div>
        <div *ngIf="authServ.isAuthenticated" class="pointer" (click)="navigateTo('list')">
            List View
        </div>
        <div *ngIf="authServ.isAuthenticated" class="pointer" (click)="navigateTo('')">
            Tile View
        </div>
    </div>
    <div class="flex-separator"></div>
    <div class="float-right user-heading">
        <div *ngIf="authServ.isAuthenticated" class="pointer" (click)="authServ.logout()">
            Logout
        </div>  
    </div>
</div>
<!-- <div (click)="hideContextMenu()" class="page"> -->
<div class="page">
    <br/>

    <!-- <button (click)="clickMethod($event)">
        Click Me!
    </button>
    
    Clicked {{clicked}} times!

    <input [(ngModel)]="clicked" type="number"/>
    <br/>
    
    <button (dblclick)="doubleClickMethod($event)">
        Double Click Me!
    </button>
    
    Double-clicked {{doubleClicked}} times!
    
    <div *ngIf="someValue > 12">
        Show This text
    </div>

    
    <div *ngIf="clicked > 5">
        Clicked more than 5 times!
    </div>
    
    <div *ngFor="let value of valuesToIterate; let index = index">
        {{value}}, {{index}}
    </div>
    
    
    <button #contextMenuButton 
        id="contextMenuButton" 
        (contextmenu)="rightClickMethod($event)">
        Right Click Me!
    </button>
    
    <div *ngIf="contextMenuOptions.showMenu" 
        class="context-menu"
        [style.left.px]="contextMenuOptions.menuX"
        [style.top.px]="contextMenuOptions.menuY"
        (click)="onContextClick()">
        Here is the context menu
    </div>


    <div [ngClass]="clicked > 5 ? 'mouse-over-block-active' : 'mouse-over-block' "
        (mouseenter)="onMouseMove($event, true)" 
        (mouseleave)="onMouseMove($event, false)"
        (mousemove)="onMouseMove($event, true)">
    </div>

    <div *ngIf="toolTipOptions.showToolTip"
        class="context-menu"
        [style.left.px]="toolTipOptions.menuX"
        [style.top.px]="toolTipOptions.menuY">
        Here is the tooltip
    </div>
    <br/> -->
    <!-- <button (click)="toggleShowUsers()">
        {{showUsers ? "Hide" : "Show"}} Users
    </button>
    <br/> -->
    <!-- <input [(ngModel)]="userServ.customColor" type="color"/> 
    <button (click)="updateCustomColor()">
        Update Color
    </button> -->
    <!-- <br/> -->
    <!-- <div *ngIf="showUsers">
        <app-users></app-users>
    </div> -->
    <router-outlet></router-outlet>
</div>