<div *ngIf="!editMode" [ngStyle]="customColorLocal" class="user-data-grid user-page-width">
    <!-- {{(index + 1) + ": " + user}} -->
    <!-- {{user ? user.fullName : ""}} -->
    <div>
        {{user.userId}}
        <br />
        {{user.username}}
        <br />
        {{user.fullName}}
        <br />
        {{user.city}}
        <br />
        {{user.gender}}
        <br />
        {{user.favoriteColor}}
        <br />
        {{user.favoriteAnimal}}
        <br />
        <br />
    </div>
     <!-- - -->
    <!-- <button (click)="removeUser.emit(index)"> -->
    <button (click)="removeUser()">
        Remove
    </button>
    <button (click)="toggleEdit()">
        Edit
    </button>
</div>
<div *ngIf="editMode" class="user-data-grid user-page-width">
    <div>
        <input [(ngModel)]="userForEdit.fullName"/>
        <br />
        <input [(ngModel)]="userForEdit.city"/>
        <br />
        <input [(ngModel)]="userForEdit.gender"/>
        <br />
        <input [(ngModel)]="userForEdit.favoriteColor"/>
        <br />
        <input [(ngModel)]="userForEdit.favoriteAnimal"/>
        <br />
        <br />
    </div>
    <button *ngIf="editMode" (click)="toggleEdit()">
        Cancel Edit
    </button>
    <button *ngIf="editMode" (click)="submitEdit()">
        Submit Edit
    </button>
</div>
