

<!-- <div class="spaced">
    helloWorld
    <br/>
    {{helloWorld + " - " + title}}
</div>

<div class="spaced">
    <button (click)="incrementClicked()">
        Click Me
    </button>
    <br/>
    The button was clicked {{clicked}} times.
    <br/>
    <input [(ngModel)]="clicked" type="number"/>
    <div class="spaced" *ngIf="clicked > 5">
        You have clicked more than 5 times
    </div>
</div>

<div class="spaced">
    <button (dblclick)="incrementDoubleClicked()">
        Double Click Me
    </button>
    <br/>
    The button was double clicked {{doubleClicked}} times.
</div>

<div class="spaced" *ngIf="willShowBlock">
    This is the conditionally displayed block
</div>

<div class="spaced">
    <div *ngFor="let number of valuesToLoopThrough; let indexOut = index">
        Boilerplate, this is one of the numbers
        <br/>
        {{number}}, {{indexOut}}
    </div>
</div>

<div class="block-of-color"
     [ngClass]="tooltipInfo.willShow ? 'tooltip-color' : ''"
     (contextmenu)="toggleContextMenu(true, $event)"
     (mouseenter)="onMouseMove(true, $event)"
     (mouseleave)="onMouseMove(false, $event)"
     (mousemove)="onMouseMove(true, $event)">
</div>

<div *ngIf="contextMenuInfo.willShow" 
    class="context-menu"
    [style.left.px]="contextMenuInfo.pageX"
    [style.top.px]="contextMenuInfo.pageY"
    (click)="contextClick()">
    This is the context menu
</div>

<div *ngIf="tooltipInfo.willShow" 
    class="context-menu"
    [style.left.px]="tooltipInfo.pageX"
    [style.top.px]="tooltipInfo.pageY">
    This is the tooltop
</div> -->
<!-- <button (click)="setShowUsers(!willShowUsers)">Toggle Show Users</button>
<br/> -->

<!-- <input [(ngModel)]="textColorForChange" type="color" /><button (click)="triggerColorChange()">Change Color</button> -->
<!-- <div class="spaced" *ngIf="willShowUsers">
    <app-users></app-users>
</div> -->

<div class="spaced">
    @if (authService.isAuthenticated) {
        <div class="spaced-bottom">
            <button 
                (click)="authService.logout()">
                Log Out
            </button>
            <button class="spaced-left"
                (click)="goToMyProfile()">
                My Profile
            </button>
            <button class="spaced-left"
                (click)="goToPosts()">
                Posts
            </button>
            <button class="spaced-left"
                (click)="goToUsers()">
                Users
            </button>
        </div>
    }
    <router-outlet></router-outlet>
</div>