
<button (click)="addNewPost()">
    Add New Post
</button>

@if (addMode) {
    <app-post-single [addMode]="true">
        </app-post-single>
}

@if(postService.postList.length > 0) {
    @for (post of postService.postList; track $index) {
        <!-- <div>
            {{post.postDate}}
        </div>
        <div>
            {{userService.userMapping[post.userId]}}
        </div> -->
        <app-post-single [post]="post">
            </app-post-single>
    }
} @else {
    <div>
        There are no posts for this user!
    </div>
}