<div (click)="hideContextMenu()" class="page">
    {{title}}

    <!-- <button (click)="clickMethod()"> -->
    <button (click)="clickMethod($event)">
        Click Me!
    </button>
    
    Clicked {{clicked}} times!
    
    <!-- <button (dblclick)="doubleClickMethod()"> -->
    <button (dblclick)="doubleClickMethod($event)">
        Double Click Me!
    </button>
    
    Double-clicked {{doubleClicked}} times!
    
    <div *ngIf="someValue > 12">
        Show This text
    </div>
    
    <div *ngIf="clicked > 5">
        Clicked more than 5 times!
    </div>
    
    <div *ngFor="let value of valuesToIterate; let index = index">
        {{value}}, {{index}}
    </div>
    
    
    <button #contextMenuButton 
        id="contextMenuButton" 
        (contextmenu)="rightClickMethod($event)">
        Right Click Me!
    </button>
    
    <div *ngIf="contextMenuOptions.showMenu" 
        class="context-menu"
        [style.left.px]="contextMenuOptions.menuX"
        [style.top.px]="contextMenuOptions.menuY"
        (click)="onContextClick()">
        Here is the context menu
    </div>
</div>