<div *ngIf="!editMode" 
    [ngStyle]="customColorLocal" 
    [ngClass]="singleUser ? 'user-page-width user-item' : ''"
    class="grid50-dynamic">
    <!-- {{(index + 1) + ": " + user}} -->
    <!-- {{user ? user.fullName : ""}} -->
    <div>
        <div class="field-space flex">
            <label class="label-text">
                User Id:
            </label>
            <div class="float-right">
                {{user.userId}}
            </div>
        </div>
        <div class="field-space">
            <label class="label-text">
                Username:
            </label>
            <div class="float-right">
                {{user.username}}
            </div>
        </div>
        <div class="field-space">
            <label class="label-text">
                Full Name:
            </label>
            <div class="float-right">
                {{user.fullName}}
            </div>
        </div>
        <div class="field-space">
            <label class="label-text">
                City:
            </label>
            <div class="float-right">
                {{user.city}}
            </div>
        </div>
    </div>
    <div>
        <div class="field-space">
            <label class="label-text">
                Gender:
            </label>
            <div class="float-right">
                {{user.gender}}
            </div>
        </div>
        <div class="field-space">
            <label class="label-text">
                Favorite Color:
            </label>
            <div class="float-right">
                {{user.favoriteColor}}
            </div>
        </div>
        <div class="field-space">
            <label class="label-text">
                Favorite Animal:
            </label>
            <div class="float-right">
                {{user.favoriteAnimal}}
            </div>
        </div>
        <div class="grid50">
            <button class="button-space" (click)="removeUser()">
                Remove
            </button>
            <button class="button-space" (click)="toggleEdit()">
                Edit
            </button>
        </div>
    </div>
</div>
<form (keyup)="$event.key === 'Enter' ? submitEdit() : null" 
    (ngSubmit)="submitEdit()"
    [ngClass]="singleUser ? 'user-page-width user-item' : ''"
    *ngIf="editMode" 
    class="grid50-dynamic user-page-width">
    <div>
        <div class="field-space">
            <label class="label-text">
                User Id:
            </label>
            <div class="float-right">
                {{user.userId}}
            </div>
        </div>
        <div class="field-space">
            <label class="label-text">
                Username:
            </label>
            <input class="input-position" 
                name="username"
                [(ngModel)]="userForEdit.username"/>
        </div>
        <div class="field-space">
            <label class="label-text">
                Full Name:
            </label>
            <input class="input-position"
                name="fullName"
                [(ngModel)]="userForEdit.fullName"/>
        </div>
        <div class="field-space">
            <label class="label-text">
                City:
            </label>
            <input class="input-position" 
                name="city"
                [(ngModel)]="userForEdit.city"/>
        </div>
    </div>
    <div>
        <div class="field-space">
            <label class="label-text">
                Gender:
            </label>
            <input class="input-position" 
                name="gender"
                [(ngModel)]="userForEdit.gender"/>
        </div>
        <div class="field-space">
            <label class="label-text">
                Favorite Color:
            </label>
            <input class="input-position" 
                name="favoriteColor"
                [(ngModel)]="userForEdit.favoriteColor"/>
        </div>
        <div class="field-space">
            <label class="label-text">
                Favorite Animal:
            </label>
            <input class="input-position" 
                name="favoriteAnimal"
                [(ngModel)]="userForEdit.favoriteAnimal"/>
        </div>
        <div class="grid50">
            <button class="button-space" type="cancel" (click)="toggleEdit()">
                Cancel Edit
            </button>
            <!-- <button class="button-space" (click)="submitEdit()"> -->
            <button class="button-space" type="submit">
                Submit Edit
            </button>
        </div>
    </div>
</form>
