<div *ngIf="!editMode" [ngStyle]="customColorLocal" class="grid50">
    <!-- {{(index + 1) + ": " + user}} -->
    <!-- {{user ? user.fullName : ""}} -->
    <div>
        <div class="field-space flex">
            <label class="label-text">
                User Id:
            </label>
            <div class="float-right">
                {{user.userId}}
            </div>
        </div>
        <div class="field-space">
            <label class="label-text">
                Username:
            </label>
            <div class="float-right">
                {{user.username}}
            </div>
        </div>
        <div class="field-space">
            <label class="label-text">
                Full Name:
            </label>
            <div class="float-right">
                {{user.fullName}}
            </div>
        </div>
        <div class="field-space">
            <label class="label-text">
                City:
            </label>
            <div class="float-right">
                {{user.city}}
            </div>
        </div>
    </div>
    <div>
        <div class="field-space">
            <label class="label-text">
                Gender:
            </label>
            <div class="float-right">
                {{user.gender}}
            </div>
        </div>
        <div class="field-space">
            <label class="label-text">
                Favorite Color:
            </label>
            <div class="float-right">
                {{user.favoriteColor}}
            </div>
        </div>
        <div class="field-space">
            <label class="label-text">
                Favorite Animal:
            </label>
            <div class="float-right">
                {{user.favoriteAnimal}}
            </div>
        </div>
        <div class="grid50">
            <button class="button-space" (click)="removeUser()">
                Remove
            </button>
            <button class="button-space" (click)="toggleEdit()">
                Edit
            </button>
        </div>
    </div>
</div>
<div *ngIf="editMode" class="grid50 user-page-width">
    <div>
        <div class="field-space">
            <label class="label-text">
                User Id:
            </label>
            <div class="float-right">
                {{user.userId}}
            </div>
        </div>
        <div class="field-space">
            <label class="label-text">
                Username:
            </label>
            <input class="input-position" [(ngModel)]="userForEdit.username"/>
        </div>
        <div class="field-space">
            <label class="label-text">
                Full Name:
            </label>
            <input class="input-position" [(ngModel)]="userForEdit.fullName"/>
        </div>
        <div class="field-space">
            <label class="label-text">
                City:
            </label>
            <input class="input-position" [(ngModel)]="userForEdit.city"/>
        </div>
    </div>
    <div>
        <div class="field-space">
            <label class="label-text">
                Gender:
            </label>
            <input class="input-position" [(ngModel)]="userForEdit.gender"/>
        </div>
        <div class="field-space">
            <label class="label-text">
                Favorite Color:
            </label>
            <input class="input-position" [(ngModel)]="userForEdit.favoriteColor"/>
        </div>
        <div class="field-space">
            <label class="label-text">
                Favorite Animal:
            </label>
            <input class="input-position" [(ngModel)]="userForEdit.favoriteAnimal"/>
        </div>
        <div class="grid50">
            <button class="button-space" (click)="toggleEdit()">
                Cancel Edit
            </button>
            <button class="button-space" (click)="submitEdit()">
                Submit Edit
            </button>
        </div>
    </div>
</div>
