
.purple-box {
    background-color: rgb(74, 74, 168);
    /* margin-left: 20px; */
    /* padding-top: 20px; */
    /* margin: 15px 5px 15px 5px; */
    margin: auto;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    /* text-align: right; */
    /* Padding top and bottom is the same */
    padding: 15px 5px 15px 5px;
    /* Line height matches element height */
    height: 50px;
    line-height: 50px;

    text-decoration: underline;
    font-style: oblique;
    font-weight: 100;
}


.display-inline {
    display:inline;
    /* display: block; */
}

.display-none {
    display:none;
    /* display: block; */
}


.position-fixed {
    position: fixed;
    top: 5px;
}


.position-absolute {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.top-element{
    margin-top: 80px;
}

.display-flex {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
}

/* .display-grid { */
.grid30 {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; */
    grid-template-columns: 33% 33% 33%;
}