<div (click)="hideContextMenu()" class="page">
    {{title}}

    <!-- <button (click)="clickMethod()"> -->
    <button (click)="clickMethod($event)">
        Click Me!
    </button>
    
    Clicked {{clicked}} times!

    <!-- <input [value]="clicked" /> -->
    <!-- <input [(ngModel)]="clicked" /> -->
    <input [(ngModel)]="clicked" type="number"/>
    <br/>
    
    <!-- <button (dblclick)="doubleClickMethod()"> -->
    <button (dblclick)="doubleClickMethod($event)">
        Double Click Me!
    </button>
    
    Double-clicked {{doubleClicked}} times!
    
    <div *ngIf="someValue > 12">
        Show This text
    </div>
    
    <div *ngIf="clicked > 5">
        Clicked more than 5 times!
    </div>
    
    <div *ngFor="let value of valuesToIterate; let index = index">
        {{value}}, {{index}}
    </div>
    
    
    <button #contextMenuButton 
        id="contextMenuButton" 
        (contextmenu)="rightClickMethod($event)">
        Right Click Me!
    </button>
    
    <div *ngIf="contextMenuOptions.showMenu" 
        class="context-menu"
        [style.left.px]="contextMenuOptions.menuX"
        [style.top.px]="contextMenuOptions.menuY"
        (click)="onContextClick()">
        Here is the context menu
    </div>


    <!--
    <div class="mouse-over-block"
        [ngStyle]="clicked > 5 ? {'background-color': 'blue', 'cursor': 'pointer'} : {} " 
    -->
    <!-- [ngStyle]="toolTipOptions.showToolTip ? {'background-color': 'blue', 'cursor': 'pointer'} : {} "  -->
    <!-- <div [ngClass]="toolTipOptions.showToolTip ? 'mouse-over-block-active' : 'mouse-over-block' " -->
    <div [ngClass]="clicked > 5 ? 'mouse-over-block-active' : 'mouse-over-block' "
        (mouseenter)="onMouseMove($event, true)" 
        (mouseleave)="onMouseMove($event, false)"
        (mousemove)="onMouseMove($event, true)">
    </div>

    <div *ngIf="toolTipOptions.showToolTip"
        class="context-menu"
        [style.left.px]="toolTipOptions.menuX"
        [style.top.px]="toolTipOptions.menuY">
        Here is the tooltip
    </div>
    <br/>
    <button (click)="toggleShowUsers()">
        {{showUsers ? "Hide" : "Show"}} Users
    </button>
    <br/>
    <input [(ngModel)]="userServ.customColor type="color""/> 
    <button (click)="updateCustomColor()">
        Update Color
    </button>
    <br/>
    <h3>
        Users:
    </h3>
    <div *ngIf="showUsers">
        <app-users></app-users>
    </div>
</div>