.user-item{
    border: solid black 3px;
    background-color: rgb(218, 217, 217);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    margin-top: 7px;
}

.user-page-width{
    width: 70vw;
    max-width: 800px;
    min-width: 600px;
    /* margin: auto; */
}