<form (keyup)="$event.key === 'Enter' && !$event.shiftKey ? submitEdit() : null" 
    (ngSubmit)="submitEdit()" 
    class = "inner-page-width border-box">
    <div>
        <div *ngIf="postServ.postForEdit.postId !== 0" class="field-space flex">
            <label class="label-text">
                Username:
            </label>
            <div class="float-right">
                {{postServ.postForEdit.username}}
            </div>
        </div>
        <hr *ngIf="postServ.postForEdit.postId !== 0"/>
        <div class="field-space">
            <textarea (keypress)="$event.key === 'Enter' && !$event.shiftKey ? $event.preventDefault() : null" 
                class="text-box-space" 
                name="postContent"
                [(ngModel)]="postServ.postForEdit.postContent"></textarea>
        </div>
    </div>
    <hr/>
    <div *ngIf="postServ.postForEdit.postId !== 0" class="grid50-dynamic">
        <div class="field-space">
            <label class="label-text">
                Posted On:
            </label>
            <div class="float-right">
                {{postServ.postForEdit.postDate | date:'yyyy-MM-dd'}} @ {{postServ.postForEdit.postDate | date:'shortTime'}}
            </div>
        </div>
        <div class="field-space">
            <label class="label-text">
                Last Updated:
            </label>
            <div class="float-right">
                {{postServ.postForEdit.updateDate | date:'yyyy-MM-dd'}} @ {{postServ.postForEdit.updateDate | date:'shortTime'}}
            </div>
        </div>
    </div>
    <div class="grid50-dynamic">
        <div></div>
        <div class="grid50">
            <button class="button-space" type="cancel" (click)="postServ.toggleEdit()">
                Cancel Edit
            </button>
            <!-- <button class="button-space" (click)="submitEdit()"> -->
            <button class="button-space" type="submit">
                Submit Edit
            </button>
        </div>
    </div>
</form>